<h1>Help</h1>
<p>Simply place the location you wish to serch for the current weather for in the search box and either click "Get Weather" or press enter.</p>
<p>Should the location not match the one you wish to find, please try being more specific.  The seach engine will locate the first match, which might not be the one you are looking for.</p>
