<h1 class="text-center m-4">Find the current weather anywhere</h1>

<form class ="pt-4">
  <div class="form-group">
    <input type ="text" class="form-control" id="weather-form" placeholder="Enter weather location"></input>
  </div>
  <button type='submit' id="weather-submit" class="btn">Get Weather</button>
</form>

<div class = "container-fluid " id="results-box">
  <div class="row">
    <div class="col-8" id="weather-text"></div>
    <div class="col-4" id="weather-icon"></div>
  </div>
</div>


<script src="./js/app.js"></script>

